<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <p>Dear Maintenance Team,</p>

    <p>We hope this email finds you well. Below is the selected maintenance data for the scheduled maintenance on {{ selected_date }}:</p>

    <!-- Debug statement to display the content -->
<!--    <p>Debug - {{ manhole_data }}</p>-->



    <!-- Add the necessary logic to display manhole data -->
    {% if manhole_data %}
        <div>
            <!-- Display the content with the safe filter -->
            <p>{{ manhole_data|safe }}</p>
<!--            <strong>ID:</strong> {{ manhole_data.id }}<br>-->
<!--            <strong>Cover Status:</strong> {{ manhole_data.Cover_Status }}<br>-->
<!--            <strong>Location:</strong> {{ manhole_data.Location }}<br>-->
<!--            <strong>Latitude:</strong> {{ manhole_data.Latitude }}<br>-->
<!--            <strong>Longitude:</strong> {{ manhole_data.Longitude }}<br>-->
<!--            <strong>Remarks:</strong> {{ manhole_data.Remarks }}<br>-->
<!--            <strong>Timestamp:</strong> {{ manhole_data.Timestamp }}<br>-->
            <!-- Add other fields as needed -->
        </div>
    {% else %}
        <p>No manhole data selected.</p>
    {% endif %}

    <p>We appreciate your prompt attention to the maintenance tasks. If you have any questions or need further information, please feel free to contact us.</p>

    <p>Thank you for your dedication to maintaining our infrastructure.</p>

    <p>Best regards,<br>
    Smart Manhole Monitoring Team</p>

    <p>Deadline: {{ deadline }}</p>
</body>
</html>
